<form method='POST' id="watchlist-form" action="{% url 'app:watchlist_update' listing.slug %}">

    {% for field in watchlist_form.visible_fields  %}
        {% csrf_token %}
        {{field.errors}}
        {{ field.label_tag }}
        {{ field }}
        {{ field.help_text }}
        {{listing.slug}}
    {% endfor %}
    <button type="submit"> submit</button>
    <!-- <input type="submit"  value="submit"
        hx-post="{% url 'app:watchlist_update' listing.slug %}"
            hx-target="watchlist-form"
            hx-swap="outerHTML"
            hx-trigger="click"> -->
</form>
