<div id="heart-emoji">
{% load static %}
   {% if watchlist.active %}
        <button type="button"  
            hx-get="{% url 'app:watchlist_update' listing.slug %}"
            hx-target="#heart-emoji"
            hx-swap="outerHTML"
            hx-trigger="click"
        > <img class="heart filled-in" src="{% static 'app/images/Love_Heart_SVG.svg'   %}"  alt=""> </button>
    {% else %}
    <button type="button"  
            hx-get="{% url 'app:watchlist_update' listing.slug %}"
            hx-target="#heart-emoji"
            hx-swap="outerHTML"
            hx-trigger="click"
        > <img class="heart" src="{% static '/app/images/Heart_icon_red_hollow.svg'   %}"   alt=""> </button>
    {% endif %}

    {{ watchlist }}
</div>